@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "colors";

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section,
body,
ul,
li,
a,
span {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}
body {
  overflow-x: hidden;
}

.activeClass {

  &::after {
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    background-color: rgb(52, 251, 213);
    width: 100%;
    top: 37px;
    border-radius: 5px;
  }
}

.button {
  padding: 12px 24.8px 12px 24px;
}

.gradient-text {
  background-color: $lightPink;
  background-image: linear-gradient(90deg, $lightPink, #65deea);
  background-size: 100%;
  line-height: 120%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.gradient-text-small {
  background-color: $lightPink;
  background-image: linear-gradient(
    90deg,
    rgb(227, 196, 249),
    rgba(101, 223, 234, 0.425)
  );
  background-size: 100%;
  line-height: 120%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}


.loose-medium {
  line-height: 120%;
}
.schedule {
  background: $lightwhite;
}

.scheduleLink a {
  font-weight: 600;
}
.calendly-form {
  background: #eee;
}

.aboutImage img {

  max-height: 50vw !important;
  width: 50vw !important;
  min-height: 50vw !important;
  min-width: 50vw !important;
  max-width: 50vw !important;
  right: auto !important;
}

.aboutImage > div {
  display:unset !important;
  overflow:auto !important;
  position:static !important;
  box-sizing:unset !important;
  margin:unset !important
}

@media screen and (max-width: 768px) {
  .calendly-form {
    background: transparent;
  }
}



button.bg-green {
  background: $lightgreen;
  border: none;
}

.position-heading {
  position: relative;
  top: -19px;
  left: 3px;
  font-family: Inter;

}
.black {
  background-color: $black;
}
.secondary {
  background-color: $lightgreen !important;
}

.footer-text {
  color: #505050;
  font-weight: 400;
  font-size: 14px;
}
.grey-text {
  color: #8a8a8a;
}

button:focus {
  outline: none !important;
}

/* ------------ Work Details Page 
---------------*/


.content-2 {
  margin-left: -20px;
}
.content-3 {
  width: 516px;
  margin-left: -70px;
}

.project-detail-button p {
  color: $black;
  font-size: 16px;
  font-weight: 700;
}

.featured-img,
.work-tabs,
.work-solutions,
.case-study {
  background: $lightwhite;
}



.challenge-content {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.heading-fact {
  width: 100%;
  max-width: 550px;
}
.services-card {
  padding: 48px 48px 0px 0px;
}


/* ---------  404 --------- */
.black {
  background-color: $black !important;
  color: $white;
}

.notfound-content {
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  width: 696px;
}
.bg-notfound {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('/assets/404.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

@media (max-width: 768px) {
  /* .mobile-nav {
    height: 100vh;
  } */
  header {
    background: $white;

  }
  .bg-notfound {
    background-image: url('/assets/404-mobile.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .notfound-content {
    top: 212px;
    left: 32px;
    width: 84%;
    transform: none;
  }
  .services-card {
    padding: 24px 0px 0px 0px;
  }

  .services-img {
    width: 100% !important;
  }

  .about-mobile-img {
    overflow: hidden;
    z-index: -1;
  }
  .position-heading {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    top: 0;
    padding-right: 20px;
  }
  .responsive-img {
    min-width: 100px !important;
    max-width: 100px !important;
    max-height: 100px !important;
    min-height: 100px !important;
    width: 100px !important;
    height: 100px !important;
    margin: 0 !important;
  }
  .work-detail-img {
    min-width: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    min-height: 100% !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
  }

  .content-3,
  .content-2 {
    width: 100%;
    margin-left: 0;
  }

  
}


/* Animation */
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.fade-in2 {
  animation: fadeIn2 ease 1s;
  -webkit-animation: fadeIn2 ease 1s;
  -moz-animation: fadeIn2 ease 1s;
  -o-animation: fadeIn2 ease 1s;
  -ms-animation: fadeIn2 ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Swipper Styles */

.swiper-container {
  max-width: 100vw !important;
}

.desktop-swiper {
  display: none;
}

.mobile-swiper {
  display: flex;
}

@media (min-width: 1250px) {
  .desktop-swiper {
    display: flex;
  }

  .mobile-swiper {
    display: none;
  }
}

/* Insights */
.insights-tab-list::-webkit-scrollbar {
  display: none;
}


select:focus-visible {
  outline: none;
}

@media screen and (min-width: 992px) {
  .maxWidthSet {
    max-width: 700px;
  }
}

/* Team */

/* contact */
.cs-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1.3px;
  background-color: black;
}

@media (max-width: 768px) {
  .calendly-form-contact {
    background: transparent;
  }
}



